<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingxin.dao.mapper.CurriculumMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="baseResultMap" type="com.dingxin.pojo.po.Curriculum">
                    <id column="id" property="id" />
                    <result column="curriculum_name" property="curriculumName" />
                    <result column="curriculum_type" property="curriculumType" />
                    <result column="class_type_id" property="classTypeId" />
                    <result column="curriculum_desc" property="curriculumDesc" />
                    <result column="video_name" property="videoName" />
                    <result column="video_duration" property="videoDuration" />
                    <result column="video_attachment" property="videoAttachment" />
                    <result column="live_video" property="liveVideo" />
                    <result column="add_video_flag" property="addVideoFlag" />
                    <result column="disable_flag" property="disableFlag" />
                    <result column="department_id" property="departmentId" />
                    <result column="topic_id" property="topicId" />
                    <result column="topic_name" property="topicName" />
                    <result column="teacher_name" property="teacherName" />
                    <result column="teacher_id" property="teacherId" />
                    <result column="watch_amount" property="watchAmount" />
                    <result column="delete_flag" property="deleteFlag" />
                    <result column="audit_flag" property="auditFlag" />
                    <result column="evaluate_status" property="evaluateStatus" />
        </resultMap>

</mapper>
