<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingxin.dao.mapper.VideoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="baseResultMap" type="com.dingxin.pojo.po.Video">
                    <id column="id" property="id" />
                    <result column="video_name" property="videoName" />
                    <result column="video_duration" property="videoDuration" />
                    <result column="video_attachment" property="videoAttachment" />
                    <result column="live_video_id" property="liveVideoId" />
                    <result column="live_video" property="liveVideo" />
                    <result column="teacher_id" property="teacherId" />
                    <result column="valid_flag" property="validFlag" />
                    <result column="check_flag" property="checkFlag" />
                    <result column="chapter_id" property="chapterId" />
                    <result column="curriculum_id" property="curriculumId" />
                    <result column="audit_comments" property="auditComments" />
        </resultMap>

</mapper>
