package ${package.Controller};
    #if(${superControllerClassPackage})
    import ${superControllerClassPackage};
    #end
    #if(${superControllerClassPackage})
    import ${superControllerClassPackage};
    #end
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.dingxin.pojo.basic.BaseQuery;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.*;
import org.apache.commons.collections.CollectionUtils;
import com.dingxin.pojo.basic.BaseResult;

/**
 * ${table.comment}
 */
@RestController
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/${table.entityPath}")
#if(${superControllerClass})
@Api(value = "${table.comment}接口")
public class ${table.controllerName} extends ${superControllerClass} {
#else
@Api(value = "${table.comment}接口")
public class ${table.controllerName} {
#end

#foreach($field in ${table.fields})
    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
        #set($keyPropertyAttr=${field.propertyType})
    #end
#end

#set ($servicePropertyName = $table.serviceName.substring(1,2).toLowerCase() + $table.serviceName.substring(2,$table.serviceName.length()))
#set ($classname = $entity.substring(0,1).toLowerCase() + $entity.substring(1,$entity.length()))
    @Autowired
    private ${table.serviceName} ${servicePropertyName};


    /**
     * 列表查询
     */
    @PostMapping("/list")
    @ApiOperation(value = "获取${table.comment}列表")
    public BaseResult<Page<${entity}>>list(@RequestBody BaseQuery<${entity}> query){
        //查询列表数据
        Page<${entity}> page = new Page(query.getCurrentPage(),query.getPageSize());
        IPage pageList = ${servicePropertyName}.page(page,Wrappers.query(query.getData()));
        if(CollectionUtils.isEmpty(pageList.getRecords())){
            return BaseResult.success();
        }
        return BaseResult.success(pageList);
    }

    /**
     * 单个查询
     */
    @PostMapping("/search")
    @ApiOperation(value = "获取${table.comment}详情信息")
    public BaseResult<${entity}> search(@RequestBody  ${entity} ${classname}){
        ${entity} result = ${servicePropertyName}.getOne(Wrappers.query(${classname}));
        return BaseResult.success(result);
    }

    /**
     * 保存
     */
    @PostMapping
    @ApiOperation(value = "新增${table.comment}信息")
    public BaseResult save(@RequestBody  ${entity} ${classname}){
        boolean retFlag= ${servicePropertyName}.save(${classname});
        return BaseResult.success(retFlag);
    }

    /**
     * 修改
     */
    @PostMapping("/update")
    @ApiOperation(value = "修改${table.comment}信息")
    public BaseResult update(@RequestBody ${entity} ${classname}){
        boolean retFlag= ${servicePropertyName}.updateById(${classname});
        return BaseResult.success(retFlag);
    }

    /**
     * 删除
     */
    @PostMapping("/delete")
    @ApiOperation(value = "删除${table.comment}信息")
    public BaseResult delete(@RequestBody ${entity} ${classname}){
        boolean retFlag= ${servicePropertyName}.remove(Wrappers.query(${classname}));
        return BaseResult.success(retFlag);
    }
}