<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingxin.cloudclassroom.mapper.CasEmploysMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="baseResultMap" type="com.dingxin.cloudclassroom.entity.CasEmploys">
		<result column="SID" property="sid" />
		<result column="CASID" property="casid" />
		<result column="DISABLE" property="disable" />
		<result column="DEPTS" property="depts" />
		<result column="Group" property="Group" />
		<result column="NAME" property="name" />
		<result column="email" property="email" />
		<result column="phonenum" property="phonenum" />
		<result column="zw" property="zw" />
	</resultMap>

</mapper>
